.breadcrumb4steps{
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    text-align: center;
    background-color: transparent;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0 20px;
}

.breadcrumb4steps li {
    float: left;
    width: 33.3%;
}

.breadcrumb4steps li a {
    color: white;
    text-decoration: none;
    background: hsl(128, 100%, 32%);
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.breadcrumb4steps{
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    text-align: center;
    background-color: transparent;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0 20px;
}

.breadcrumb4steps li {
    float: left;
    width: 25%;
}

.breadcrumb4steps li a {
    color: white;
    text-decoration: none;
    background: hsl(128, 100%, 32%);
    position: relative;
    display: block;
    float: left;
    width: 100%;
}


  .breadcrumb3steps{
      list-style: none;
      overflow: hidden;
      font: 18px Helvetica, Arial, Sans-Serif;
      text-align: center;
      background-color: transparent;
      margin-bottom: 30px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0 20px;
  }

.breadcrumb3steps li {
    float: left;
    width: 25%;
}

.breadcrumb3steps li a {
    color: white;
    text-decoration: none;
    text-wrap: normal;
    background: hsl(128, 100%, 32%);
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.breadcrumbas {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    text-align: center;
    background-color: transparent;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.breadcrumbas li {
    float: left;
    width: 33.33%;
}
.breadcrumbas li a {
    color: white;
    text-decoration: none;
    background: hsl(128, 100%, 32%);
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.customSeparator{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: green;
}

.selectItem .ui-selectonemenu-trigger{
    background: rgba(71, 255, 0, 0.24);
    width: 30px !important;
}

.selectItem .ui-icon{
    margin-bottom: 15% !important;
    margin-top: 25% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.panel .ui-selectonemenu-list {
    background: rgba(71, 255, 0, 0.24);
}

.customPanelGrid .ui-widget{
    margin-right: 15px;
}

.customPanelGrid{
    margin-top: 100px;
}

.customPanelGrid > tbody > tr{
  display: inline-block;
}

.customButton {
    background-image: none;
    background-color: green;
    color: white;
    font-size: 20px !important;
}

.customOutputPanel {
  margin-top: 200px;
}

.ui-growl {
    z-index: 1050 !important;
}

.customMainPage {
    background-image: url('../resources/images/labanoras3.jpg' ) !important;
    background-size: cover;
    text-align: center;
}

.customMainPageSearch {
    display: inline-block;
    padding: 0px 20px 20px 20px;
    border-radius: 2em;
    background-color: rgba(202,255,183,0.60);
    margin-top: 5%;
    margin-bottom: 5%
}

.customMainPageSearch > span{
    margin-left: 10px;
    margin-right: 20px;
}

.leftMargin{
   margin-left: 15px;
}

.inputField > input{
    width: 100px;
}

.customResults{
    text-align: center;
    border-width: 2px;
    border-color: #556955;
    background-color: rgba(85, 98, 54, 0.41);
    height: auto;
}

.customUserlist{
    text-align: center;
    border-width: medium;
    border-color: green;
    border-radius: 1em;
    background-color: rgba(71, 255, 0, 0.13);
    height: 307px;
}

.customDetailedUserInfo{
    text-align: center;
    border-width: medium;
    border-color: #180ba5;
    border-radius: 1em;
    background-color: rgba(16, 31, 255, 0.14);
    max-height: 500px;
}

.customDataGrid > div > div > div{
    padding: 10px;
}

.customImage{
    max-height: 400px;
}

.summerhouseImage{
    max-height: 180px;
}

.thirty-percent {
    width: 20%;
}

.seventy-percent {
    width: 80%;
}

.customDataGrid{

}

.customDataGrid > div{
    border: 0px;
    background: transparent;
}
.customDataGrid > .ui-paginator.ui-paginator-bottom{

}

#summerhousesDetail .panel .panel-default .panel-default-padding table > td{
    color: black;
}


.customServiceViewsBlue{
    text-align: center;
    border-width: medium;
    border-color: #180ba5;
    border-radius: 1em;
    background-color: rgba(16, 31, 255, 0.14);
}

.customServiceViewsGreen{
    text-align: center;
    border-width: medium;
    border-color: green;
    border-radius: 1em;
    background-color: rgba(71, 255, 0, 0.13);
}